body{
   margin: 0;
   padding: 0;
   font-family: 'Assistant', sans-serif;
}

h2{
    text-decoration: underline
}

ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ccc;
    margin: 0;
    padding: 0
}

ul li{
    list-style: none;
    position: relative;
    width: 25%;
    height: 100%;
    border-right: 1px solid #000;
    float: left;
    box-sizing: border-box;
    transition: 1s;
    text-align: center;
    overflow: hidden;
}

ul li:nth-child(1){
    background: url(../images/background/diagonal_striped_brick.png);
    background-repeat: cover;
    background-position: left;
}

ul li:nth-child(2){
    background: url(../images/background/eight_horns.png);
    background-repeat: cover;
    background-position: left;
}

ul li:nth-child(3){
    background: url(../images/background/arab_tile.png);
    background-repeat: cover;
    background-position: left;
}

ul li:nth-child(4){
    background: url(../images/background/small_steps.png);
    background-repeat: cover;
    background-position: left;
}

ul:hover li{
    width: 10%
}

ul li:hover{
    width: 70%;
}

ul li .header{
    position: absolute;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    color: #fff;
    opacity: 0;
}

ul li .content{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    color: #fff;
    opacity: 0;
}

ul li:hover .content{
    bottom: 0;
    transition: .5s;
    transition-delay: .5s;
    opacity: 1;
}

.icons{
    height:17%;
    width:17%;
    border: 2px white solid;
    background: #fff;
    margin: 1%;
}

.text-box{
    font-size: 19px
}

.bio-image{
    border: 2px solid white;
    height:20%;
    width:40%;
    margin-top: 3%;
    margin-bottom: 2%
}
